form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form__control {
  width: 400px;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ccc;
  outline: thin;
  background: tan;
  display: block;
}

label {
  display: block;
}

.form__group {
  margin: 0.4rem 0;
}

button {
  padding: 0.6rem 0.6rem;
  border: none;
  display: inline-block;
  background: rgb(11, 169, 231);
  color: #fff;
  width: 100px;
  margin-right: 19.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

button:disabled {
  background: rgb(179, 224, 241);
  cursor: not-allowed;
}

.errors {
  color: red;
}

small {
  display: block;
}
